.sidebar {
    -fx-background-color: white;
    -fx-padding: 40;
    -fx-alignment: center;
    -fx-spacing: 20;
}

.login-container {
    -fx-background-color: #42b8f4;
    -fx-padding: 40;
    -fx-alignment: center;
    -fx-pref-width: 400;
    -fx-pref-height: 600;
}
