.pagina-centro {
    -fx-alignment: center;
    -fx-background-color: transparent;
}

.bg-celeste{
    -fx-background-radius: 20;
    -fx-padding: 25;
}

.scrollPane{
    -fx-background-color: transparent;
    -fx-pref-height: 700;
}

.trasparente{
    -fx-background-color: transparent;
}

.viewport{
    -fx-background-color: transparent;
}

.text-rosso{
    -fx-wrap-text: true;
    -fx-pref-height: 300;
    -fx-text-alignment: center;
}