.bg-celeste{
    -fx-background-radius: 20;
    -fx-padding: 50;
}

.viewport{
    -fx-background-radius: 20;
    -fx-background-color: transparent;
}

.form-container > {
    -fx-background-radius: 20;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-padding: 20;
}

.text{
    -fx-font-family: 'Zain';
}