.pane {
    -fx-background-color: #4559F5;
    -fx-text-fill: red;
}

.notification {
    -fx-background-color: red;
}


/* Definizione dei font */
@font-face {
    font-family: 'Zain';
    src: url('../../../../../fonts/Zain-Black.ttf');
    font-weight: 900; /* Black */
}

@font-face {
    font-family: 'Zain';
    src: url('../../../../../fonts/Zain-Bold.ttf');
    font-weight: 700; /* Bold */
}

@font-face {
    font-family: 'Zain';
    src: url('../../../../../fonts/Zain-ExtraBold.ttf');
    font-weight: 800; /* Extra Bold */
}

@font-face {
    font-family: 'Zain';
    src: url('../../../../../fonts/Zain-ExtraLight.ttf');
    font-weight: 200; /* Extra Light */
}

@font-face {
    font-family: 'Zain';
    src: url('../../../../../fonts/Zain-Italic.ttf');
    font-style: italic;
    font-weight: 400; /* Normal Italic */
}

@font-face {
    font-family: 'Zain';
    src: url('../../../../../fonts/Zain-Light.ttf');
    font-weight: 300; /* Light */
}

@font-face {
    font-family: 'Zain';
    src: url('../../../../../fonts/Zain-LightItalic.ttf');
    font-style: italic;
    font-weight: 300; /* Light Italic */
}

@font-face {
    font-family: 'Zain';
    src: url('../../../../../fonts/Zain-Regular.ttf');
    font-weight: 400; /* Regular / Normal */
}

/* Imposta il font globale per quasi tutti i controlli testuali */
.label,
.button,
.hyperlink,
.text-field,
.password-field,
.text-area,
.combo-box,
.check-box,
.radio-button,
.menu-item,
.menu-button {
    -fx-font-family: 'Zain';
}

/* Classi per dimensione font (h1, h2, ecc.) */
.h1 {
    -fx-font-family: 'Zain';
    -fx-font-size: 32pt;
}

.h2 {
    -fx-font-family: 'Zain';
    -fx-font-size: 28pt;
}

.h3 {
    -fx-font-family: 'Zain';
    -fx-font-size: 24pt;
}

.h4 {
    -fx-font-family: 'Zain';
    -fx-font-size: 20pt;
}

.h5 {
    -fx-font-family: 'Zain';
    -fx-font-size: 18pt;
}

.h6 {
    -fx-font-family: 'Zain';
    -fx-font-size: 16pt;
}

/* Stile per paragrafi */
.p {
    -fx-font-family: 'Zain';
    -fx-font-size: 14pt;
}

/* Classi per font-weight indipendenti */
.font-light {
    -fx-font-weight: 300;
}

.font-normal {
    -fx-font-weight: 400;
}

.font-bold {
    -fx-font-weight: bold;
}

.font-heavy {
    -fx-font-weight: 900;
}

/* Classi colore testo (USARE COLORI ESACADESCIMALI DIRETTI) */
.text-celeste {
    -fx-text-fill: #44C8F4;
}

.text-blu-scuro {
    -fx-text-fill: #0B7C9F;
}

.text-blu-elettrico {
    -fx-text-fill: #4559F5;
}

.text-verde {
    -fx-text-fill: #16F397;
}

.text-rosso {
    -fx-text-fill: #FF4059;
}

.text-grigio {
    -fx-text-fill: #F2F2F2;
}

.text-bianco {
    -fx-text-fill: #FFFFFF;
}

.text-nero {
    -fx-text-fill: #000000;
}

/* Classi colore sfondo (USARE COLORI ESACADESCIMALI DIRETTI) */
.bg-celeste {
    -fx-background-color: #44C8F4;
}

.bg-blu-scuro {
    -fx-background-color: #0B7C9F;
}

.bg-blu-elettrico {
    -fx-background-color: #4559F5;
}

.bg-verde {
    -fx-background-color: #16F397;
}

.bg-rosso {
    -fx-background-color: #FF4059;
}

.bg-grigio {
    -fx-background-color: #F2F2F2;
}

.bg-bianco {
    -fx-background-color: #FFFFFF;
}

.bg-nero {
    -fx-background-color: #000000;
}

.form-field {
    -fx-background-color: #F2F2F2; /* verde brillante come nell'immagine */
    -fx-text-fill: black;           /* testo bianco */
    -fx-font-size: 14px;
    -fx-font-weight: 400;
    -fx-background-radius: 12;     /* bordi arrotondati */
    -fx-padding: 10 20 10 20;      /* padding interno (top right bottom left) */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 4, 0, 2, 2); /* ombra */
    -fx-cursor: text;              /* cambio cursore al passaggio */
    -fx-border-color: transparent; /* nessun bordo */
}

.header {
    -fx-background-color: #44C8F4;
    -fx-padding: 10;
    -fx-alignment: center_left;
}

.header-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-family: 'Zain';
    -fx-cursor: hand;              /* cambio cursore al passaggio */
    -fx-border-color: transparent; /* nessun bordo */
    -fx-font-size: 18px;
    -fx-background-radius: 12;     /* bordi arrotondati */
    -fx-padding: 10 20 10 20;      /* padding interno (top right bottom left) */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 4, 0, 2, 2); /* ombra */
}

.header-button:hover {
    -fx-text-fill: #0B7C9F;
    -fx-fill: #0B7C9F;
}

.header-button:pressed {
    -fx-text-fill: #085D77;
    -fx-fill: #085D77;
}

.button{
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-background-radius: 12;     /* bordi arrotondati */
    -fx-padding: 10 20 10 20;      /* padding interno (top right bottom left) */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 4, 0, 2, 2); /* ombra */
    -fx-cursor: hand;              /* cambio cursore al passaggio */
    -fx-border-color: transparent; /* nessun bordo */
}

.red-button {
    -fx-background-color: #FF4059; /* verde brillante come nell'immagine */
    -fx-text-fill: white;           /* testo bianco */
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-background-radius: 12;     /* bordi arrotondati */
    -fx-padding: 10 20 10 20;      /* padding interno (top right bottom left) */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 4, 0, 2, 2); /* ombra */
    -fx-cursor: hand;              /* cambio cursore al passaggio */
    -fx-border-color: transparent; /* nessun bordo */
}

/* Effetto hover per il pulsante */
.red-button:hover {
    -fx-background-color: #e33950; /* verde leggermente più scuro */
}

/* Effetto click */
.red-button:pressed {
    -fx-background-color: #cc3044; /* verde ancora più scuro */
}

.confirm-button {
    -fx-background-color: #16F397; /* verde brillante come nell'immagine */
    -fx-text-fill: white;           /* testo bianco */
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-background-radius: 12;     /* bordi arrotondati */
    -fx-padding: 10 20 10 20;      /* padding interno (top right bottom left) */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 4, 0, 2, 2); /* ombra */
    -fx-cursor: hand;              /* cambio cursore al passaggio */
    -fx-border-color: transparent; /* nessun bordo */
}

/* Effetto hover per il pulsante */
.confirm-button:hover {
    -fx-background-color: #00d374; /* verde leggermente più scuro */
}

/* Effetto click */
.confirm-button:pressed {
    -fx-background-color: #00b35a; /* verde ancora più scuro */
}

.back-button {
    -fx-background-color:#4559F5; /* blu brillante come nell'immagine */
    -fx-text-fill: white;           /* testo bianco */
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-background-radius: 12;     /* bordi arrotondati */
    -fx-padding: 10 20 10 20;      /* padding interno (top right bottom left) */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 4, 0, 2, 2); /* ombra */
    -fx-cursor: hand;              /* cambio cursore al passaggio */
    -fx-border-color: transparent; /* nessun bordo */
}

/* Effetto hover per il pulsante */
.back-button:hover {
    -fx-background-color: #3a4acc; /* blu leggermente più scuro */
}

/* Effetto click */
.back-button:pressed {
    -fx-background-color: #2e3b99; /* blu ancora più scuro */
}

.cursore-puntatore{
    -fx-cursor: hand;
}

.link-label {
    -fx-underline: false;
    -fx-border-color: transparent;
    -fx-text-fill: #4559F5; /* bluelettrico */
    -fx-cursor: hand;
}

.link-label:hover {
    -fx-text-fill: #3a4acc; /* bluelettrico scuro */
}

.link-label:pressed {
    -fx-text-fill: #2e3b99; /* bluelettrico ancora più scuro al click */
}

.ombra{
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 4, 0, 2, 2); /* ombra */
}

.font-icon {
    -fx-icon-size: 24px;
    -fx-fill: white;
}


/* FORM */

/* Contenitore principale del form */
.form-view {
    -fx-background-color: transparent; /* o altro colore di sfondo */
    -fx-padding: 0;
}

/* Gruppi di campi */
.form-group {
    -fx-padding: 10 0 10 0;
}

/* Etichette campi */
.form-label {
    -fx-font-weight: bold;
    -fx-font-size: 14pt;
    -fx-text-fill: #4559F5;
}

/* Campi di input */
.form-field {
    -fx-background-radius: 12;
    -fx-background-color: #f0f0f0;
    -fx-padding: 8 12 8 12;
    -fx-border-color: transparent;
    -fx-font-size: 14px;
}

/* Messaggi di validazione */
.form-validation-message {
    -fx-text-fill: #FF4059; /* rosso per errori */
    -fx-font-size: 11px;
    -fx-font-style: italic;
}

/* Per i bottoni di default */
.form-button {
    -fx-background-color: #00f58a;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 12;
    -fx-padding: 10 20;
}

.form-container {
    border: none;
    -fx-border-color: transparent; /* Imposto colore trasparente */
}

.quadrettoni{
    -fx-background-image: url('/quadrettoni.png');
    -fx-background-size: cover;       /* Copre tutta la zona */
    -fx-background-position: center;  /* Centra l’immagine */
    -fx-background-repeat: no-repeat; /* Non ripete l’immagine */
    -fx-padding: 40;
}

formsfx-group{
    border: none;
    -fx-border-color: transparent; /* Imposto colore trasparente */
}


.no-border{
    border: none;
    -fx-border-color: transparent; /* Imposto colore trasparente */
}

/* Imposta il font globale per tutta l'app */
.root {
    -fx-font-family: 'Zain';
}
